.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form-group {
  width: 500px;
  background-color: lightgrey;
  margin: 10px;
  padding: 20px;
  text-align: left;

}

input[type=text] {
  border-radius: 0px;
  border: 1px solid darkgrey;
  margin-left: 40px;
  padding: 5px;
}

label {
  margin-right: 40px;
}

table#desc {
  width: 500px;
  margin: 20px auto;
}
